{% load static %}
{% load humanize %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
		<title>Mensa-Homometer</title>
		<link href="{% static 'style.css' %}" rel="stylesheet" />
		<link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
		<link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
		<link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
	</head>
	<body>
		<div class="container">
			{% if minimal is False %}
			<header>
				<strong>Wie lange ist die Schlange?</strong>
			</header>
			<aside class="left">

			</aside>
			{% endif %}
			<main>
				<span class="glass">
					<span class="amount" style="height: {{ percent|safe }}%; background: {{ color }}"></span>
				</span>
				<div class="bulb">
					<span class="red-circle" style="background: {{ color }}"></span>
					<span class="filler" style="background: {{ color }}"></span>
				</div>
			</main>
			<aside class="right">
				<ul>
					<li>Schlange des Todes</li>
					<li></li>
					<li>Blockabfertigung</li>
					<li></li>
					<li>Jetz geht's los!</li>
					<li></li>
					<li>Alles im grünen Bereich</li>
				</ul>
			</aside>
			{% if minimal is False %}
			<footer>
				<strong>In der Mensa: {{ current|intcomma }} Menschen</strong>
				<a href="https://github.com/dieliste/mensa" target="_blank"><img height="32" width="32" alt="GitHub" src="/static/github.png" /></a>
			</footer>
			{% endif %}
		</div>
	</body>
</html>
