{% load static %}
{% load humanize %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
		<title>Mensa-Homometer</title>
		<link href="{% static 'style.css' %}" rel="stylesheet" />
		<link rel="apple-touch-icon" sizes="180x180" href="{% static 'apple-touch-icon.png' %}">
		<link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon-32x32.png' %}">
		<link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon-16x16.png' %}">
	</head>
	<body>
		<div class="container">
			{% if minimal is False %}
			<header>
				<strong>{% trans 'How long is the queue?' %}</strong>
			</header>
			<aside class="left">

			</aside>
			{% endif %}
			<main>
				<span class="glass">
					<span class="amount" style="height: {{ percent|safe }}%; background: {{ color }}"></span>
				</span>
				<div class="bulb">
					<span class="red-circle" style="background: {{ color }}"></span>
					<span class="filler" style="background: {{ color }}"></span>
				</div>
			</main>
			<aside class="right">
				<ul>
					<li>{% trans 'Queue of death' %}</li>
					<li></li>
					<li>{% trans 'Block processing' %}</li>
					<li></li>
					<li>{% trans 'Here we go!' %}</li>
					<li></li>
					<li>{% trans 'Everything in the green' %}</li>
				</ul>
			</aside>
			{% if minimal is False %}
			<footer>
				<strong>{% trans 'Currently at mensa' %}: {{ current|intcomma }} {% blocktrans count counter=current %}person{% plural %}people{% endblocktrans %}</strong>
				<a href="https://github.com/dieliste/mensa" target="_blank"><img height="32" width="32" alt="GitHub" src="/static/github.png" /></a>
			</footer>
			{% endif %}
		</div>
	</body>
</html>
